@media all and (max-width: 640px) and (min-width: 360px) {
  html,
  body {
    font-size: 20pt;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
  }

  .side {
    grid-template-columns: 1fr;
    grid-template-rows: 15% auto 25%;
    line-height: 18pt;
  }

  .maripi {
    left: 10%;
  }
}

@media all and (max-width: 359px) and (min-width: 0px) {
  html,
  body {
    font-size: 20pt;
    max-height: 100vh;
  }

  .wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 100vh;
  }

  .side {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr;
    line-height: 20pt;
  }

  .main {
    display: none;
  }

  #mySpriteSpin {
    display: none;
  }
}
