@font-face {
    font-family: myFirstFont;
    src: url(../fonts/monaco.ttf);
}

#{
  margin: 0px;
}

body{
  font-family: 'Anonymous Pro', myFirstFont;
  background: black;
}

a {
  color: white;
  text-decoration: none;
}

.wrapper{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1em;
}

.wrapper{
  margin: 20px;
  padding: 1em;
  border: 2px solid white;
}

.side{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1em;
  background: black;
  padding: 20px;
  color: white;
  border: 2px solid white;
  font-size: 12px;
}

.links{
  position: relative;
  top: 450px;
  font-size: 12px;
}

.side ul{
  list-style: none;
  padding-left: 0;
}

.description{
  width: 200px;
  /* border: 1px solid white; */
}


.main{
  background: black;
  border: 2px solid white;
}
#mySpriteSpin{
  left: 25%;
  bottom: 40px;
}
