@font-face {
    font-family: myFirstFont;
    src: url(../fonts/monaco.ttf);
}

#{
  margin: 0px;
}


html, body{
  width: calc(100% - 2%);
  height: calc(100% - 2%);
  margin: 0;
  padding: 1% 1% 0;
  font-family: 'Anonymous Pro', myFirstFont, monospace;
  background: black;
  color: white;
  font-size: 12px;
  overflow-x: hidden;
  /* overflow-y: hidden; */
}

a {
  color: white;
  text-decoration: none;
}

.wrapper{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1.5em;
  padding: 1.5em;
  border: 2px solid white;
}

.side{
  display: grid;
  grid-template-rows: 5% auto 6%;
  grid-gap: 1.5em;
  background: black;
  padding: 1.5em;
  border: 2px solid white;
}

.side ul{
  list-style: none;
  padding-left: 0;
  margin: 0;
}


li{
  float: left;
  clear: both;
}

.links li:hover{
  font-style: italic;
}

.main{
  display:inline-block;
  padding: 1.5em;
  background: black;
  border: 2px solid white;
}

#mySpriteSpin{
  position: absolute;
  left:0; right:0;
  top:0vh; bottom:0;
  margin:auto;

  max-width:100%;
  max-height:100%;
  overflow:hidden;
}


