:root {
  --main-bg-color: #fff;
  --main-color: #000;
  --blue-color: #0066ff;
  --red-color: #ff5f5f;
  --turq-color: #00a9d0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'IBM Plex Sans', monospace;
  font-size: 62.5%;
  z-index: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-color);
  font-size: 1.2rem;
  padding: 4rem;
  width: 100vw;
  height: 100vh;
  position: relative;
}

a {
  text-decoration: none;
  color: var(--main-color);
}

a:hover {
  color: var(--blue-color);
  border-bottom: 1px solid var(--blue-color);
}

.content {
  border: 1px solid var(--main-color);
  width: 100%;
  height: 100%;
  padding: 4rem;
  position: relative;
}

.title {
  position: relative;
  font-weight: 500;
}

.title::before {
  position: absolute;
  left: -1rem;
  color: var(--blue-color);
  font-weight: 400;
  content: '$';
}

.text {
  font-weight: 400;
  font-size: 2.4rem;
}

.git {
  position: absolute;
  top: -2.5rem;
}

.git span:nth-child(1) {
  color: var(--red-color);
}

.git span:nth-child(2) {
  color: var(--turq-color);
  cursor: pointer;
}

.git span:nth-child(3) {
  color: var(--blue-color);
}

main {
  width: 100%;
  height: 100%;
  border: 1px solid var(--main-color);
  grid-row: 1 / span 3;
}

main img {
  width: 100%;
  height: 100%;
}

footer {
  position: relative;
}

footer > div {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.m-social,
.m-contact {
  display: none;
}

.copywrite {
  position: absolute;
  bottom: -2.5rem;
  right: 0;
}
